[submodule "GLFW"]
	path = 3rdparty/glfw
	url = git@github.com:glfw/glfw.git
[submodule "freetype2"]
	path = 3rdparty/freetype2
	url = git.sv.nongnu.org/freetype/freetype2.git
[submodule "Hydra"]
	path = 3rdparty/hydra
	url = git@github.com:KrakenEngine/hydra.git
[submodule "GLAD"]
	path = 3rdparty/glad
	url = git@github.com:Dav1dde/glad.git
