[submodule "GLFW"]
	path = 3rdparty/glfw
	url = git@github.com:glfw/glfw.git
[submodule "freetype2"]
	path = 3rdparty/freetype2
	url = git.sv.nongnu.org/freetype/freetype2.git
[submodule "3rdparty/kraken-math"]
	path = 3rdparty/kraken-math
	url = git@github.com:kearwood/kraken-math.git
[submodule "3rdparty/glad"]
	path = 3rdparty/glad
	url = git@github.com:Dav1dde/glad.git
